/*
	Autor:		Leandro Silva
	Datum:		02.11.2017
	Programm:	Autokonfigurator
	
	Beschreibung: 	Das ist ein Stylesheet für den Autokonfigurator von Mercedes.
 */

/* ---------------------------------------------------------------------------------------- */
/* 	Animationen  */
/* ---------------------------------------------------------------------------------------- */
@keyframes auspuffanimation {
    from {color: black;
    		font-size: 14px;}
    to {color: #00e3fd;
    		font-size: 18px;
    		font-style: bold;}
}

/* ---------------------------------------------------------------------------------------- */
/* 	Allgemeine Definitionen */
/* ---------------------------------------------------------------------------------------- */
*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
}

/* ---------------------------------------------------------------------------------------- */
/* 	Wrapper Definition */
/* ---------------------------------------------------------------------------------------- */
#wrapper {
	width: 100%;
	height: 100%;
	background-color: #e6e6e6;
}

/* ---------------------------------------------------------------------------------------- */
/* 	Header Bereich */
/* ---------------------------------------------------------------------------------------- */
#header {
	width: 99%;
	height: 9%;
	background-color: #00e3fd;
	font-family: 'Signika', sans-serif;
	padding-top: 1%;
	padding-left: 1%;
}

/* ---------------------------------------------------------------------------------------- */
/* 	Navigator Bereich */
/* ---------------------------------------------------------------------------------------- */
#navigator {
	float: left;
	width: 14%;
	height: 73%;
	background-color: #e6e6e6;
	padding-top: 2%;
}

#navStartseite {
	border-style: solid;
	border-color: white;
	border-width: 1%;
	width: 98%;
	height: 7%;
	background-color: #bdf9ff;
	font-family: 'Signika', sans-serif;
	text-align:center;
	padding-top: 12%;
}

#navStartseite:hover {
	background-color: #00e3fd;
	color: white;
}
#navDokument {
	margin-top: 1%;
	border-style: solid;
	border-color: white;
	border-width: 1%;
	width: 98%;
	height: 7%;
	background-color: #bdf9ff;
	font-family: 'Signika', sans-serif;
	text-align:center;
	padding-top: 12%;
}
#navDokument a {
	text-decoration: none;
	color: black;
}
#navDokument:hover {
	background-color: #00e3fd;
	color: white;
}

/* ---------------------------------------------------------------------------------------- */
/* 	Main Bereich */
/* ---------------------------------------------------------------------------------------- */
#main {
	font-family: 'Lato', sans-serif;
	float: left;
	width: 85%;
	height: 80%;
	background-color: #e6e6e6;
}

#show {
	float: left;
	width: 69%;
	height: 100%;
	background-color: black;
}

#bild {
	width: 100%;
	height: 100%;
}

.bildfelge {
	width: 22%;
	height: 29%;
}

#bilddiv {
	width: 59.5%;
	height: 64%;
	z-index: 0;
	position: absolute;
	
}

#bildfelgedivhinten {
	width: 32%;		/* Grau  / Schwarz  / Weiss  */
	height: 41%;	/* Grau  / Schwarz  / Weiss  */
	z-index: 5;
	position: absolute;
	float: left;
	top: 43%;		/* Grau  43/ Schwarz  42/ Weiss  42*/
	left: 55%;	/* Grau  55/ Schwarz  57.5/ Weiss  56.5*/
}

#bildfelgedivvorne {
	width: 32%;		/* Grau  / Schwarz  / Weiss  */
	height: 41%;	/* Grau  / Schwarz  / Weiss  */
	z-index: 4;
	position: absolute;
	float: left;
	top: 43.5%;		/* Grau  43.5%/ Schwarz  43.5/ Weiss  43.5*/
	left: 22.5%;	/* Grau  22.5%/ Schwarz  22.8/ Weiss  24.8*/
}

#reifendivvorne {
	width: 11.5%; 	/* Grau  / Schwarz  / Weiss  */
	height: 18.5%; 	/* Grau  / Schwarz  / Weiss  */
	z-index: 4;
	position: absolute;
	float: left;
	top: 42.2%; 		/* Grau  42.2/ Schwarz  42.2/ Weiss  42.2*/
	left: 21.8%;		/* Grau  21.8/ Schwarz  22/ Weiss  24*/
}

#reifendivhinten {
	width: 11.5%;	/* Grau  / Schwarz  / Weiss  */
	height: 18.5%;	/* Grau  / Schwarz  / Weiss  */
	z-index: 5;
	position: absolute;
	float: left;
	top: 42%;		/* Grau  42/ Schwarz  40.7/ Weiss  40.7*/
	left: 54.2%;	/* Grau  54.2/ Schwarz  56.7/ Weiss  55.7*/
}

.reifen {
	width: 77%;
	height: 80%;
}

#bremsedivvorne {
	width: 32%;		/* Grau  / Schwarz  / Weiss  */
	height: 41%;	/* Grau  / Schwarz  / Weiss  */
	z-index: 2;
	position: absolute;
	float: left;
	top: 44.5%;		/* Grau  44.5/ Schwarz  44.5/ Weiss  44.5*/
	left: 22.5%;		/* Grau  22.5/ Schwarz  23/ Weiss  25*/
}

.bremse {
	width: 20%;
	height: 27%;
}

#bremsedivhinten {
	width: 32%;		/* Grau  32/ Schwarz  32/ Weiss  32*/
	height: 41%;	/* Grau  41/ Schwarz  41/ Weiss  41*/
	z-index: 3;
	position: absolute;
	float: left;
	top: 44%;		/* Grau  44/ Schwarz  42.7/ Weiss  42.7*/
	left: 55.2%;		/* Grau  55.2/ Schwarz  57.7/ Weiss  57.7*/
}

#spiegeldiv {
	width: 75.5%;	/* Grau  / Schwarz  / Weiss  */
	height: 77%;	/* Grau  / Schwarz  / Weiss  */
	z-index: 3;
	position: absolute;
	float: left;
	top: 12%;		/* Grau  / Schwarz  / Weiss  */
	left: 14%;		/* Grau  / Schwarz  / Weiss  */
}

#spiegel {
	width: 77.5%;
	height: 77%;
}
#karosseriediv {
	width: 75%;      /* Grau  75/ Schwarz  80/ Weiss  80*/
	height: 65%;	/* Grau  65 / Schwarz  100/ Weiss  95*/
	z-index: 3;
	position: absolute;
	float: left;
	top: 21%;		/* Grau  22.3,21,20  / Schwarz  6.3,5,4 / Weiss  3,2 */
	left: 15.5%;	/* Grau  15.5/ Schwarz  15/ Weiss  13*/
}


#karosserie {
	/*width: 77%;
	height: 80%;*/
}

.karosserieKonfig {
	width: 74%;
	height: 60%;
}

#bildSector {
	width: 100%;
	height: 80%;
}

#sound {
	width: 59.5%;
	height: 16%;
	/*background-color: #e6e6e6;*/
	background-color: #bdf9ff;
	z-index: 10;
	position: absolute;
	padding-left: 2%;
	
}
#soundName {
	animation-name: auspuffanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#soundText {
	height: 30%;
	padding-top: 2%;
}
#audioDatei {
	height: 60%;
	padding-top: 0.9%;
}

#zelleTitel {
	height: 25px;
}

#zelleContent {
	height: 25px;
}

#konfigurator {
	float: left;
	width: 24.5%;
	height: 78%;
	background-color: #e6e6e6;
	z-index: 10;
	position: absolute;
	left: 73.5%;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
}

.zelle {
	width: 50%;
}

.zelle2 {
	width: 50%;
}

#farbe {
	width: 100%;
}

#auspuff {
	width: 100%;
}

#konfigInfos {
	width: 100%;
	height: 80%;
}

#konfigInfos table{
	width: 100%;
}

#fahrwerkregler {
	width: 100%;
}

#tabelle1 {
	width: 100%;
	height: 20%;
}

#tabelle2 {
	width: 100%;
	height: 20%;
}

#tabelle3 {
	margin-top: 10%;
	width: 100%;
	height: 60%;
}

#felgevorschau {
	width: 80%;
	height: 40%;
	padding-left: 10%;
}

#felgelabel {
	width: 30%;
	height: 100%;
	float: left;
}

#auswahlfelge {
	width: 70%;
	height: 100%;
	float: left;
}

#zuruck {
	float: left;
}

#weiter {
	float: right;
}

/* ---------------------------------------------------------------------------------------- */
/* 	Footer Bereich */
/* ---------------------------------------------------------------------------------------- */
#footer {
	float: left;
	width: 100%;
	height: 8%;
	background-color: #00e3fd;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	text-align: center;
	padding-top: 2%;
}